# SPDX-FileCopyrightText: 2023 Alexandre Bouvier <contact@amb.tf>
#
# SPDX-License-Identifier: CC0-1.0

/infection.json
/pdepend.xml
/.php-cs-fixer.cache
/.php-cs-fixer.php
/phpcs.xml
/phpstan.neon
/.phpunit.cache/
/phpunit.xml
/psalm.xml
/vendor/
