# SPDX-FileCopyrightText: 2023 Alexandre Bouvier <contact@amb.tf>
#
# SPDX-License-Identifier: CC0-1.0

includes:
  - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
  level: max
  paths:
    - src
  excludePaths:
    - vendor
  stubFiles:
    - vendor/jetbrains/phpstorm-stubs/Parle/Parser.php
